* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --light: #ffffff;
    --dark: #000000;
    --theme: #db0276;
}

.header{
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
}

.create {
    font-size: larger;
    color: var(--theme);


}

.nav {
    background-color: var(--theme) ;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    
}

.links {
    display: flex;
    font-size: 35px;
    padding: 20px;
    margin: 10px; 
    flex-direction: column;
    justify-content: space-between;
}

.links a {
    color: var(--dark);
    align-self: flex-start;
}

.links a:hover {
    background-color: var(--dark);
    color: var(--light);
}

.Bio {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.Bio h1 {
    color: var(--light);
    font-size: 30px;
    align-self: center;
}

.Bio a {
    color: var(--light);
    font-size: 20px;
    align-self: center;
}

.avatar {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}

.avatar img {
    border-radius: 15px 50px;
}

.background img{
    display: none;
    height: 600px;
    width: 1600px;
      
}


.container {
    background-color: var(--light);
    color: var(--dark);
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}

.contaniner h2 {
    text-decoration: underline;
}

.items-1 {
    padding: 20px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--dark);
    color: var(--light);
}

.items-1 h2, 
.items-2 h2,
.items-3 h2, 
.items-2 h3,
p {
    text-align: center;
}

.items-2 {
    padding: 20px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}


.items-2 ul li {
    padding: 20px;
    margin: 10px;
    list-style-type: none;
    display: inline-block;
    border-style: solid;
    border-radius: 15px 50px;
    margin-left: 30px;
    margin-right: 50px
}

.items-2 li:hover {
    background-color: var(--dark);
    color: var(--light);
}

.items-2 ul li img {
    border-radius: 15px 50px;
}


.items-3 {
    padding: 20px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--dark);
    color: var(--light);
}



.items-3 ul {
    color: var(--light);
    display: inline;
    margin-left: 150px;
    border: var(--light);
    opacity: 1;
    transition: 0.5s;
    
}

.items-3 ul:hover {
     opacity: 0.6;
}